.postContainer {
  padding: 10px;
  img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
  }
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .textWrapper {
    margin-left: 20px;
    .likesCount {
      padding: 5px;
      background-color: red;
    }
  }
}
